.cart{
    display: flex;
    border: 0px solid red;
    height: 100px;
    margin-top:2%;
    justify-content: space-around;
}
.textContainer{
    border:0px solid blue;
    justify-content: space-between;
    height: 100px;
    width: 19%;
    
}

.quantity p{
    border: 0px solid gold;
    margin-left: -300px;
}
.textContainer h1{
    justify-content: space-between;
}
.textContainerTwo{
    display: flex;
    justify-content: space-around;

}
.hRow{
    width:95%;
    margin: auto;
    height: 1px;
    background-color: rgb(91, 88, 88);
    border: 1px solid rgb(20, 19, 20);
}
.counter{
        border: 2px solid red;

    border: 2px solid black;
    height: 500px;
    display: flex;
    justify-content: space-around;
    width: 65%;
    margin: auto;
}

.Counterdivf{
border: 2px solid rgb(19, 19, 20);
height: 50px;
margin-left:-20%;
width: 15%;
}
.Counterdiv{
    border: 2px solid rgb(21, 21, 21);
    height: 50px;
    width: 15%;
    
}
.btn{
    width: 65%;
    margin: auto;
    margin-top:14%;
}
.btn button {
    background-color: black;
    color: white;
    height: 50px;
    width: 33%;
    font-size: 20px;
margin-left: 65%;
}

.btn2 img{
    height: 60px;
    background-color: blue;

}
.btn2 button{
    background-color: rgb(60, 60, 160);
    height: 80px;

    border:none;


}

.btn3 button{
    background-color: rgb(254, 207, 52);
    height: 80px;
    border:none;
}
.btn p{
    width: 15%;
 margin-left: 80%;
}
.btn3 img{
height:48px;
background-color:none;
}
.btn5 button{
    background-color: rgb(20, 20, 20);
    height: 63px;
    border:none;

}
.btn5 img{
    height: 60px;
}
.FeaturedContainer {
    border: 0px solid red;
    width: 70%;
    margin: auto;
    margin-top:5%;

}
.FeaturedContainer h3{
    margin: none;
    border: 0px solid blue;
    width: 30%;
    font-size: 20px;
    margin-left: 5%;
}
.imageContainerTwo{
    border: 0px solid teal;   
     margin: auto;
     width: 90%;
     display: flex;

}
.imageContainerTwo div{
    border: 0px solid rgb(51, 223, 223);
    margin: none;
    width: 50%;
}
.imageContainerTwo img{
    height: 226px;
    width: 90%;
}

.viewbtn button{
background-color: black;
color: white;
height: 40px;
width: 10%;
margin-left: 42%;
font-size: 15px;
margin-top: 0.5%;
}
.afterPay img{
    height: 35px;
    width:15%;
    background-color: rgb(117, 247, 216);
    border-radius:30%;
    margin-left: 75%;
}

.P1div p{
    margin-left: 89%;
    width: 11%;
    }

.p2div{
    margin-left:-16%;
    width: 110%;
}
.p2div p{
width:30%;
}

.p2div12 {
    width:120%;
    margin-left:-25%;

}
.p2div12 p{
    width: 30%;
}
/*  increment*/



.ProductContainerTwo{
    display: flex;
    justify-content: space-around;
    font-size: 22px;
    border: 0px solid red;
    width: 106%;
}
.Productimg p{
  margin-left: 210%;
}

.imageContainer img{
    height: 200px;
    margin-left: 48%;

}
.CounterF{
    border: 1px solid rgb(53, 51, 51);
    display: flex;
    gap: 17px;
    width: 10%;
    height: 51px;
    margin-left: -7%;

}
.plus{
    margin-top: 2%;
    
}
.plus button{
    height: 15px;
    border: none;
 background-color:white;

    
}
.minus{
    margin-top: 2%;
    
}
.minus button {
    height: 20px;
    border: none;
    background-color:white;


}
.CountSec h1{
   margin-top:-1%;
}
.Delete{
    width: 20%;
    border: 0px solid red;
    margin-left:22% ;
    margin-top: 10%;
}




.counterContainer{
    display: flex;
    justify-content: space-around;

}
.TotalContainer{
    display: flex;
    width: 95.4%;
    justify-content: space-around;
}

.CartdivEmpty{
    border:0px solid red;
    width:40%;
    height: 190px;
    text-align: center;
    margin: auto;
    margin-top: 5%;
}
.firstParaempty{
    font-size: 22px;
}

.firstParaempty2 button{
    font-size: 15px;
    height: 40px;
    color: white;
    background-color: black;
}
.firstParaempty3 p{
   font-size: 14px;
}
