.PaymentHead {
  border: 0px solid black;
  height: 718px;
  display: flex;
  justify-content: space-between;
}
.firstHead {
  border: 0px solid black;
  width: 62%;
  margin-top: 4%;
}
.firstHead h1 {
  border: 0px solid red;
  width: 58%;
}
.firstHead p {
  border: 0px solid red;
  width: 65%;
  height: 20px;
}
.secondHead {
  border: 0px solid black;
  width: 43%;
  background-color: rgb(244, 244, 250);
  margin: none;
  height:130%;

}
.secondHeadTwo{
  margin-top: 8%;
  border: 0px solid red;
}
.PaymentSecondHead {
  border: 0px solid blue;
  height: 50px;
  width: 50%;
  margin-left: 18%;
  display: flex;
}
.form {
  border: 0px solid black;
  height: 480px;
  width: 90%;
  margin: auto;
}

.formFirst {
  display: flex;
  border: 0px solid red;
  justify-content: space-between;
  width: 81%;
  margin-left: 14%;
}

.Checkbox p {
  font-size: 10px;
}
.shipping p {
  border: 0px solid red;
}

/*first*/
.Information {
  border: 0px solid black;
  height: 500px;
}
.ContactInfo {
  border: 0px solid red;
  display: flex;
  width: 85%;
  margin: auto;
  justify-content: space-between;
}

.ContactInfoTwo {
  border: 0px solid blue;
  width: 55%;
  margin-left: 14%;
  font-size: 15px;
}
.ContactInfoThree {
  border: 0px solid rgb(23, 148, 90);
  width: 70%;
  margin-left: 5%;
  font-size: 15px;
}

.ContactInfoThree p {
  margin-left: 20px;
  width: 80%;
}
.ContactInput {
  border: 0px solid red;
  height: 300px;
}
.ContactChecks {
  display: flex;
  border: 0px solid red;
  width: 35%;
  margin-left: 20%;
}
.ShippingF p {
  margin-left: -3%;
  font-size: 17px;
}
.ReturnCart {
  display: flex;
}
.ReturnCart p {
  margin-left: -223px;
}
.ReturnCart button {
  background-color: black;
  color: white;
  height: 50px;
  width: 21%;
  margin-left: 5.2%;
  font-size: 13px;
  border-radius: 8px;
}
.LastFoot {
  display: flex;
  border: 0px solid red;
  width: 64%;
  margin: auto;
}
.ImageContainer {
  display: flex;
  border: 2px solid red;
}
.btn2 img {
  height: 38px;
  background-color: blue;

}
.btn2 button {
  background-color: rgb(60, 60, 160);
  height: 43px;
  width: 160%;
  border-radius: 5%;
  border: none;

}

.btn3 button {
  background-color: rgb(254, 207, 52);
  height: 43px;
  width: 160%;
  border: none;
  border-radius: 5%;
}

.btn3 img {
  height: 38px;
}
.btn5 button {
  background-color: rgb(20, 20, 20);
  width: 195%;
  height: 43px;
  border: none;

  border-radius: 5%;
}
.btn5 img {
  height: 38px;
}

.btn {
  border: 0px solid red;
  width: 58%;
  margin: auto;
  display: flex;
  margin-top: 2%;
  gap: 80px;
}
.SelectContainer{
  border:0px solid rgb(44, 41, 41);
  width:106%
}
.SelectContainer select{
  border:1px solid rgb(22, 21, 21);
  width: 61.8%;
  height: 33px;
  margin-left: 1%;
  
}

.SelectType {
  border:1px solid rgb(88, 86, 86);
  width: 20.8%;
  height: 33px;
  margin-left: 1%;
}
