.new_product{
    width:100%;
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(310px,max-content));
    justify-content:center;
    gap: 2px;
    padding:initial;
    text-align: left;
    font-size: small;

    }

    *{
        font-family: Assistant, sans-serif;
        font-style: normal;
        font-weight: 400;
    }