
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(145, 145, 145);
}

.shopAll_button{
    color: 255,255,255;
}

.bigimage{
    opacity: 0.5;
}

