.centered {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(145, 145, 145);
    text-align: center;
}

.shopAll_button{
    color: 255,255,255;
    border: solid 2px rgb(145, 145, 145);
    height: 50px;
    width: 100px;
    text-align: center;
    margin-left: 110px;
    padding-top: 15px;
    /* margin-top: -50px; */
}

.centered>h2{
    font-size: 3rem;
}
.bigimage{
    width: 100%;
    height: 100%;
}
