.single_new_product{
    width:16.5rem;
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    cursor: pointer;
    margin: .8rem 0;
}
.single_new_product img{
width: 100%;
height: 80%;
}
.div_icon{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: white;
    z-index: 1;
    position: fixed;
    top: 0;
    font-size: 1rem;
    padding: .4rem;
    color: rgb(239, 166, 77);
}
.single_new_product:hover{
text-decoration: underline;
box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.single_product_title{
margin-top: .5rem;
}
.single_product_price{
font-size:17px;
margin:1rem 0;
}
/* .heart_icon{
position: fixed;
top: 0;
font-size: 1rem;
} */


.card { 
    position: relative;
    display: inline-block;
}
.img-top {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}
.card:hover .img-top {
    display: inline;
    width: 100%;
    height: 100%;
}