.new_product{
    width:100%;
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(310px,max-content));
    justify-content:center;
    gap: 0;
    padding:initial;
    text-align: left;
    font-size: small;
    }
    
    .header_title{
        text-align: left;
        font-size: 2.5rem;
        margin: auto;
        margin: 2rem 1rem 4rem 9rem ;
    }